In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('../../data/mimic-iv-ecg-diagnostic-electrocardiogram-matched-subset-1.0/machine_measurements.csv')
df.head()

/tmp/ipykernel_1157382/1532473347.py:1: DtypeWarning: Columns (16,17,18,19,20,21) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('../../data/mimic-iv-ecg-diagnostic-electrocardiogram-matched-subset-1.0/machine_measurements.csv')

,subject_id,study_id,cart_id,ecg_time,report_0,report_1,report_2,report_3,report_4,report_5,...,filtering,rr_interval,p_onset,p_end,qrs_onset,qrs_end,t_end,p_axis,qrs_axis,t_axis
0,10000032,40689238,6848296,2180-07-23 08:44:00,Sinus rhythm,Possible right atrial abnormality,NaN,Borderline ECG,NaN,NaN,...,60 Hz notch Baseline filter,659,40,128,170,258,518,81,77,79
1,10000032,44458630,6848296,2180-07-23 09:54:00,Sinus rhythm,Possible right atrial abnormality,NaN,Borderline ECG,NaN,NaN,...,60 Hz notch Baseline filter,722,40,124,162,246,504,77,75,70
2,10000032,49036311,6376932,2180-08-06 09:07:00,Sinus tachycardia,NaN,Normal ECG except for rate,NaN,NaN,NaN,...,60 Hz notch Baseline filter,600,40,130,162,244,474,79,72,77
3,10000117,45090959,6214760,2181-03-04 17:14:00,Sinus rhythm,NaN,Normal ECG,NaN,NaN,NaN,...,60 Hz notch Baseline filter,659,40,146,180,254,538,79,66,69
4,10000117,48446569,6632385,2183-09-18 13:52:00,Sinus rhythm,NaN,NaN,NaN,NaN,NaN,...,<not specified>,659,368,29999,504,590,868,84,80,77

In [3]:
df['reports'] = df['report_1'].astype(str)
for i in range(2, 18):
    df['reports'] = df['reports'] + df[f"report_{i}"].astype(str)
df['reports'] = df['reports'].str.lower()
df.head()

,subject_id,study_id,cart_id,ecg_time,report_0,report_1,report_2,report_3,report_4,report_5,...,rr_interval,p_onset,p_end,qrs_onset,qrs_end,t_end,p_axis,qrs_axis,t_axis,reports
0,10000032,40689238,6848296,2180-07-23 08:44:00,Sinus rhythm,Possible right atrial abnormality,NaN,Borderline ECG,NaN,NaN,...,659,40,128,170,258,518,81,77,79,possible right atrial abnormalitynanborderline...
1,10000032,44458630,6848296,2180-07-23 09:54:00,Sinus rhythm,Possible right atrial abnormality,NaN,Borderline ECG,NaN,NaN,...,722,40,124,162,246,504,77,75,70,possible right atrial abnormalitynanborderline...
2,10000032,49036311,6376932,2180-08-06 09:07:00,Sinus tachycardia,NaN,Normal ECG except for rate,NaN,NaN,NaN,...,600,40,130,162,244,474,79,72,77,nannormal ecg except for ratenannannannannanna...
3,10000117,45090959,6214760,2181-03-04 17:14:00,Sinus rhythm,NaN,Normal ECG,NaN,NaN,NaN,...,659,40,146,180,254,538,79,66,69,nannormal ecgnannannannannannannannannannannan...
4,10000117,48446569,6632385,2183-09-18 13:52:00,Sinus rhythm,NaN,NaN,NaN,NaN,NaN,...,659,368,29999,504,590,868,84,80,77,nannannannannannannannannannannannannannannann...

In [4]:
df = df[["study_id", "reports", "ecg_time"]].set_index('study_id')

In [5]:
df["st_elevation"] = df["reports"].str.contains("st elevation|stj elevation") | (df["reports"].str.contains("st") & df["reports"].str.contains("myocardial ischemia|myocardial infraction"))
df.head()

,reports,ecg_time,st_elevation
study_id,,,
40689238,possible right atrial abnormalitynanborderline...,2180-07-23 08:44:00,False
44458630,possible right atrial abnormalitynanborderline...,2180-07-23 09:54:00,False
49036311,nannormal ecg except for ratenannannannannanna...,2180-08-06 09:07:00,False
45090959,nannormal ecgnannannannannannannannannannannan...,2181-03-04 17:14:00,False
48446569,nannannannannannannannannannannannannannannann...,2183-09-18 13:52:00,False

In [6]:
df["st_depression"] = df["reports"].str.contains("st depression|stj depression")
df.head()

,reports,ecg_time,st_elevation,st_depression
study_id,,,,
40689238,possible right atrial abnormalitynanborderline...,2180-07-23 08:44:00,False,False
44458630,possible right atrial abnormalitynanborderline...,2180-07-23 09:54:00,False,False
49036311,nannormal ecg except for ratenannannannannanna...,2180-08-06 09:07:00,False,False
45090959,nannormal ecgnannannannannannannannannannannan...,2181-03-04 17:14:00,False,False
48446569,nannannannannannannannannannannannannannannann...,2183-09-18 13:52:00,False,False

In [7]:
df["t_wave"] = df["reports"].str.contains("t wave inver")
df.head()

,reports,ecg_time,st_elevation,st_depression,t_wave
study_id,,,,,
40689238,possible right atrial abnormalitynanborderline...,2180-07-23 08:44:00,False,False,False
44458630,possible right atrial abnormalitynanborderline...,2180-07-23 09:54:00,False,False,False
49036311,nannormal ecg except for ratenannannannannanna...,2180-08-06 09:07:00,False,False,False
45090959,nannormal ecgnannannannannannannannannannannan...,2181-03-04 17:14:00,False,False,False
48446569,nannannannannannannannannannannannannannannann...,2183-09-18 13:52:00,False,False,False

In [8]:
icd_df = pd.read_csv('../../data/mimic-iv-ecg-ext-icd-diagnostic-labels-for-mimic-iv-ecg-1.0.1/records_w_diag_icd10.csv')

In [9]:
icd_df = icd_df[['study_id', 'ed_hadm_id', 'hosp_hadm_id', 'all_diag_all']].set_index('study_id')
icd_df.head()

,ed_hadm_id,hosp_hadm_id,all_diag_all
study_id,,,
40689238,29079034.0,NaN,"['K7469', 'E871', 'R64', 'E875', 'I9581', 'J44..."
44458630,29079034.0,NaN,"['K7469', 'E871', 'R64', 'E875', 'I9581', 'J44..."
49036311,NaN,25742920.0,"['K7469', 'E871', 'E875', 'R197', 'J449', 'R18..."
45090959,NaN,NaN,[]
48446569,27988844.0,NaN,"['E7800', 'K219', 'Z87442', 'S72012A', 'I341',..."

In [10]:
df = df.join(icd_df, how='inner', rsuffix='icd')
df.head()

,reports,ecg_time,st_elevation,st_depression,t_wave,ed_hadm_id,hosp_hadm_id,all_diag_all
study_id,,,,,,,,
40689238,possible right atrial abnormalitynanborderline...,2180-07-23 08:44:00,False,False,False,29079034.0,NaN,"['K7469', 'E871', 'R64', 'E875', 'I9581', 'J44..."
44458630,possible right atrial abnormalitynanborderline...,2180-07-23 09:54:00,False,False,False,29079034.0,NaN,"['K7469', 'E871', 'R64', 'E875', 'I9581', 'J44..."
49036311,nannormal ecg except for ratenannannannannanna...,2180-08-06 09:07:00,False,False,False,NaN,25742920.0,"['K7469', 'E871', 'E875', 'R197', 'J449', 'R18..."
45090959,nannormal ecgnannannannannannannannannannannan...,2181-03-04 17:14:00,False,False,False,NaN,NaN,[]
48446569,nannannannannannannannannannannannannannannann...,2183-09-18 13:52:00,False,False,False,27988844.0,NaN,"['E7800', 'K219', 'Z87442', 'S72012A', 'I341',..."

In [11]:
Acute_MI = [
    "I210",
    "I211",
    "I212",
    "I213",
    "I214",
    "I219",
    "I220",
    "I221",
    "I228",
    "I229",
    "I230",
    "I231",
    "I232",
    "I233",
    "I234",
    "I235",
    "I236",
    "I238",
]

def isAcuteMI(all_diag_all):
    for icd in eval(all_diag_all): # icd I214A1
        for miIcd in Acute_MI: # miIcd I214
            if miIcd in icd: # I214 in I214A1
                return True
    return False

df['Acute_MI'] = df['all_diag_all'].map(isAcuteMI)
df.head()

,reports,ecg_time,st_elevation,st_depression,t_wave,ed_hadm_id,hosp_hadm_id,all_diag_all,Acute_MI
study_id,,,,,,,,,
40689238,possible right atrial abnormalitynanborderline...,2180-07-23 08:44:00,False,False,False,29079034.0,NaN,"['K7469', 'E871', 'R64', 'E875', 'I9581', 'J44...",False
44458630,possible right atrial abnormalitynanborderline...,2180-07-23 09:54:00,False,False,False,29079034.0,NaN,"['K7469', 'E871', 'R64', 'E875', 'I9581', 'J44...",False
49036311,nannormal ecg except for ratenannannannannanna...,2180-08-06 09:07:00,False,False,False,NaN,25742920.0,"['K7469', 'E871', 'E875', 'R197', 'J449', 'R18...",False
45090959,nannormal ecgnannannannannannannannannannannan...,2181-03-04 17:14:00,False,False,False,NaN,NaN,[],False
48446569,nannannannannannannannannannannannannannannann...,2183-09-18 13:52:00,False,False,False,27988844.0,NaN,"['E7800', 'K219', 'Z87442', 'S72012A', 'I341',...",False

In [12]:
df['Acute_MI'].sum()

41623

In [13]:
df['hadm_id'] = df['hosp_hadm_id'].fillna(df['ed_hadm_id'])
df = df.drop(['hosp_hadm_id', 'ed_hadm_id'], axis=1)
df.head()

,reports,ecg_time,st_elevation,st_depression,t_wave,all_diag_all,Acute_MI,hadm_id
study_id,,,,,,,,
40689238,possible right atrial abnormalitynanborderline...,2180-07-23 08:44:00,False,False,False,"['K7469', 'E871', 'R64', 'E875', 'I9581', 'J44...",False,29079034.0
44458630,possible right atrial abnormalitynanborderline...,2180-07-23 09:54:00,False,False,False,"['K7469', 'E871', 'R64', 'E875', 'I9581', 'J44...",False,29079034.0
49036311,nannormal ecg except for ratenannannannannanna...,2180-08-06 09:07:00,False,False,False,"['K7469', 'E871', 'E875', 'R197', 'J449', 'R18...",False,25742920.0
45090959,nannormal ecgnannannannannannannannannannannan...,2181-03-04 17:14:00,False,False,False,[],False,NaN
48446569,nannannannannannannannannannannannannannannann...,2183-09-18 13:52:00,False,False,False,"['E7800', 'K219', 'Z87442', 'S72012A', 'I341',...",False,27988844.0

In [14]:
discharge_df = pd.read_csv('../../data/mimic-iv-note/note/discharge.csv')
discharge_df.head()

,note_id,subject_id,hadm_id,note_type,note_seq,charttime,storetime,text
0,10000032-DS-21,10000032,22595853,DS,21,2180-05-07 00:00:00,2180-05-09 15:26:00,\nName: ___ Unit No: _...
1,10000032-DS-22,10000032,22841357,DS,22,2180-06-27 00:00:00,2180-07-01 10:15:00,\nName: ___ Unit No: _...
2,10000032-DS-23,10000032,29079034,DS,23,2180-07-25 00:00:00,2180-07-25 21:42:00,\nName: ___ Unit No: _...
3,10000032-DS-24,10000032,25742920,DS,24,2180-08-07 00:00:00,2180-08-10 05:43:00,\nName: ___ Unit No: _...
4,10000084-DS-17,10000084,23052089,DS,17,2160-11-25 00:00:00,2160-11-25 15:09:00,\nName: ___ Unit No: __...

In [15]:
discharge_df = discharge_df[['hadm_id', 'text']].set_index('hadm_id')
discharge_df.head()

                                                       text
hadm_id
22595853   \nName:  ___                     Unit No:   _...
22841357   \nName:  ___                     Unit No:   _...
29079034   \nName:  ___                     Unit No:   _...
25742920   \nName:  ___                     Unit No:   _...
23052089   \nName:  ___                    Unit No:   __...

In [16]:
import re

SECTIONS = ['Chief Complaint', 'Past Medical History', 'Medications on Admission']
def clean_note(note):
    cleaned = ''
    for heading in SECTIONS:
        content = note.split(heading+':')
        if len(content) == 1: continue
        content = re.split(r'\n[^\n:]+:', content[1])[0] # find next section heading and cut
        cleaned += heading+':' + content + '\n'
    return cleaned

discharge_df['simple_note'] = discharge_df['text'].map(clean_note)

SECTIONS = ['Allergies', 'Chief Complaint', 'Major Surgical or Invasive Procedure', 'History of Present Illness', 'Past Medical History', 'Social History', 'Family History', 'Medications on Admission']

discharge_df['full_note'] = discharge_df['text'].map(clean_note)
discharge_df = discharge_df.drop(['text'], axis=1)
discharge_df.head()

,simple_note,full_note
hadm_id,,
22595853,Chief Complaint:\nWorsening ABD distension and...,Allergies: \nNo Known Allergies / Adverse Drug...
22841357,Chief Complaint:\nabdominal fullness and disco...,Allergies: \nPercocet\n \nChief Complaint:\nab...
29079034,Chief Complaint:\naltered mental status\n \nPa...,Allergies: \nPercocet / Vicodin\n \nChief Comp...
25742920,Chief Complaint:\nAbdominal pain\n \nPast Medi...,Allergies: \nPercocet / Vicodin\n \nChief Comp...
23052089,Chief Complaint:\nVisual hallucinations\n \nPa...,Allergies: \nNo Known Allergies / Adverse Drug...

In [17]:
df['study_id'] = df.index
df = df.set_index('hadm_id').join(discharge_df, how='inner')

In [18]:
lab_df = []
with pd.read_csv('../../data/mimic-iv-3.0/hosp/labevents.csv', chunksize=10**6) as reader:
    for chunk in reader:
        chunk = chunk[chunk['hadm_id'].isin(df.index)]
        chunk = chunk[chunk['itemid'].isin([51002, 51003, 52642])]
        lab_df.append(chunk)

lab_df = pd.concat(lab_df)
lab_df.head()

,labevent_id,subject_id,hadm_id,specimen_id,itemid,order_provider_id,charttime,storetime,value,valuenum,valueuom,ref_range_lower,ref_range_upper,flag,priority,comments
4081,4089,10000764,27897940.0,8251243,51003,NaN,2132-10-15 07:45:00,2132-10-15 09:12:00,___,0.04,ng/mL,0.0,0.01,abnormal,STAT,CTROPNT > 0.10 NG/ML SUGGESTS ACUTE MI.
4149,4157,10000764,27897940.0,80645576,51003,NaN,2132-10-16 06:03:00,2132-10-16 08:50:00,___,0.57,ng/mL,0.0,0.01,abnormal,ROUTINE,___
4163,4171,10000764,27897940.0,61085704,51003,NaN,2132-10-16 15:03:00,2132-10-16 16:34:00,___,0.89,ng/mL,0.0,0.01,abnormal,ROUTINE,CTROPNT > 0.10 NG/ML SUGGESTS ACUTE MI.
4182,4190,10000764,27897940.0,88000499,51003,NaN,2132-10-17 05:59:00,2132-10-17 08:19:00,___,1.28,ng/mL,0.0,0.01,abnormal,ROUTINE,CTROPNT > 0.10 NG/ML SUGGESTS ACUTE MI.
4186,4194,10000764,27897940.0,61428651,51003,NaN,2132-10-17 13:16:00,2132-10-17 14:46:00,___,1.29,ng/mL,0.0,0.01,abnormal,STAT,CTROPNT > 0.10 NG/ML SUGGESTS ACUTE MI.

In [19]:
lab_df['ecg_time'] = pd.to_datetime(lab_df['charttime'])
lab_df = lab_df[['hadm_id', 'ecg_time', 'valuenum', 'comments']]
df['ecg_time'] = pd.to_datetime(df['ecg_time'])

In [20]:
df = df.sort_values(by=['ecg_time'])
lab_df = lab_df.sort_values(by=['ecg_time'])

In [21]:
df = pd.merge_asof(df, lab_df, on='ecg_time', by='hadm_id', direction='nearest')

In [22]:
df = df.set_index('hadm_id')
df['troponin'] = False
df.loc[lab_df['hadm_id'].unique(), 'troponin'] = True
df.head()

,reports,ecg_time,st_elevation,st_depression,t_wave,all_diag_all,Acute_MI,study_id,simple_note,full_note,valuenum,comments,troponin
hadm_id,,,,,,,,,,,,,
29196424.0,possible anteroseptal infarct - age undetermin...,2087-05-08 00:05:00,False,False,False,"['E875', 'A419', 'L97419', 'E43', 'Z6824', 'I6...",False,44673611,Chief Complaint:\nAltered mental status\n \nPa...,Allergies: \nlisinopril / vancomycin\n \nChief...,NaN,NaN,False
21091437.0,extensive st-t changes suggest myocardial inju...,2087-05-08 00:05:00,False,False,False,"['D649', 'Z950', 'N3000', 'J9601', 'K5732', 'E...",False,43819938,Chief Complaint:\nShortness of Breath\n \nPast...,Allergies: \namitriptyline / Sulfa (Sulfonamid...,0.03,cTropnT > 0.10 ng/mL suggests Acute MI.,True
28951019.0,left axis deviationrsr'(v1) - probable normal ...,2087-05-08 00:05:00,False,False,False,"['D649', 'A419', 'M726', 'Z170', 'C779', 'J90'...",False,44864920,Chief Complaint:\nleft thigh pain\n \nPast Med...,Allergies: \nPenicillins\n \nChief Complaint:\...,NaN,<0.01. cTropnT > 0.10 ng/mL suggests Acute MI.,True
21236438.0,possible anterior infarct - age undeterminedin...,2088-04-14 02:58:00,False,False,False,"['E875', 'A419', 'E440', 'J9601', 'D62', 'J189...",False,47239325,Chief Complaint:\nGI bleed\n \nPast Medical Hi...,Allergies: \nMULTIPLE - SEE LIST **** / amoxic...,0.02,cTropnT > 0.10 ng/mL suggests Acute MI.,True
23821411.0,short pr intervalnanborderline ecgnannannannan...,2089-12-11 00:06:00,False,False,False,"['K7469', 'D649', 'E875', 'E43', 'Y830', 'J90'...",False,41010651,Chief Complaint:\nfailure to thrive; expedited...,Allergies: \nchlorhexidine\n \nChief Complaint...,0.07,cTropnT > 0.10 ng/mL suggests Acute MI.,True

In [23]:
df['st_elevation'] = df['st_elevation'].astype(int)
df['st_depression'] = df['st_depression'].astype(int)
df['t_wave'] = df['t_wave'].astype(int)
df['Acute_MI'] = df['Acute_MI'].astype(int)
df['troponin'] = df['troponin'].astype(int)
df['STEMI'] = (df['Acute_MI'] & df['st_elevation']).astype(int)
df['NSTEMI'] = (df['Acute_MI'] & ~df['st_elevation']).astype(int)
df = df.drop(['reports', 'all_diag_all'], axis=1)
df.head()

,ecg_time,st_elevation,st_depression,t_wave,Acute_MI,study_id,simple_note,full_note,valuenum,comments,troponin,STEMI,NSTEMI
hadm_id,,,,,,,,,,,,,
29196424.0,2087-05-08 00:05:00,0,0,0,0,44673611,Chief Complaint:\nAltered mental status\n \nPa...,Allergies: \nlisinopril / vancomycin\n \nChief...,NaN,NaN,0,0,0
21091437.0,2087-05-08 00:05:00,0,0,0,0,43819938,Chief Complaint:\nShortness of Breath\n \nPast...,Allergies: \namitriptyline / Sulfa (Sulfonamid...,0.03,cTropnT > 0.10 ng/mL suggests Acute MI.,1,0,0
28951019.0,2087-05-08 00:05:00,0,0,0,0,44864920,Chief Complaint:\nleft thigh pain\n \nPast Med...,Allergies: \nPenicillins\n \nChief Complaint:\...,NaN,<0.01. cTropnT > 0.10 ng/mL suggests Acute MI.,1,0,0
21236438.0,2088-04-14 02:58:00,0,0,0,0,47239325,Chief Complaint:\nGI bleed\n \nPast Medical Hi...,Allergies: \nMULTIPLE - SEE LIST **** / amoxic...,0.02,cTropnT > 0.10 ng/mL suggests Acute MI.,1,0,0
23821411.0,2089-12-11 00:06:00,0,0,0,0,41010651,Chief Complaint:\nfailure to thrive; expedited...,Allergies: \nchlorhexidine\n \nChief Complaint...,0.07,cTropnT > 0.10 ng/mL suggests Acute MI.,1,0,0

In [24]:
df.to_csv('../../data/mimic-acute-mi.csv')